.user-details-conatiner
{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.user-details
{
    display: flex;
    align-items: flex-start;
}

.user-name
{
    padding-left: 20px;
}

.user-name p
{
    color: #7e7e7e
}

.edit-profile-btn
{
    padding: 8px 10px;
    border: solid 1px #7e7e7e;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.edit-profile-btn:hover
{
    background-color: #f5f9fc;
}

.edit-profile-title
{
    padding: 20px 0px;
    border-bottom: solid 1px #dbd9d9;
}

.edit-profile-title-2
{
    color: grey;
    font-weight: 300;
}

.edit-profile-form
{
    padding: 20px;
    border: solid 1px #dbd9d9;
    border-radius: 5px;
}

.edit-profile-form label h3
{
    margin: 0%;
    padding: 3px 0px;
}

.edit-profile-form label input, .edit-profile-form label textarea
{
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #dbd9d9;
    width: 50%;
}

.user-submit-btn
{
    padding: 14px 0px;
    background-color: #0a95ff;
    color: white;
    border: none;
    border-radius: 2px;
    padding-right: 5px;
}

.user-submit-btn:hover
{
    background-color: #0074cc;
}

.user-cancel-btn
{
    padding: 14px 5px;
    color: #0a95ff;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 500px) {
    .edit-profile-btn 
    {
        padding: 6px 8px;
        border: solid 1px #7e7e7e;
        border-radius: 2px;
        background-color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .edit-profile-btn:hover 
    {
        background-color: #f5f9fc;
    }

    .user-name 
    {
        font-size: 12px;
    }

    .home-container-1
    {
        width: 100%;
    }

    .home-container-2
    {
        width: 100%;
    }

    .user-details-conatiner 
    {
        display: flex;
        flex-direction: row;
    }

    .tags-bio 
    {
        font-size: 12px;
    }

    .edit-profile
    {
        font-size: 12px;
    }

    .user-submit-btn {
        padding: 10px 4px;
        font-size: 12px;
        background-color: #0a95ff;
        color: white;
        border: none;
        border-radius: 2px;
        padding-right: 5px;
    }

}